body {
  font-family: David, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(164, 164, 219);
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
h1 {
  text-align: center;
}
.menu {
  text-align: center;
  margin-bottom: 20px;
}
.menu li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.question {
  display: none;
}
.question.active {
  display: block;
}
.navigation {
  text-align: center;
  margin-top: 20px;
}